doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/node/stylesheets/style.css')
    script(src='/node/javascripts/jquery-1.8.3.min.js')
    script(src='/node/javascripts/highstock.js')
    script(src='/node/javascripts/better.js').

  body
    block content
